.button
    background lighten(darkColor, 70%)
    border-radius .2em
    padding 0 20px
    height 34px
    text-shadow 1px 1px 1px rgba(darkColor, .2)
    border none
    color lightColor
    line-height 34px
    display inline-block
    font-family mainFont
    font-smoothing antialiased
    cursor pointer
    &:hover,
    &.active
        background lighten(darkColor, 60%)
    &__yellow
        background12 linear-gradient(top, mainYellow , darken(mainYellow, 10%))
        &:hover,
        &.active
            background linear-gradient(top, darken(mainYellow, 20%), darken(mainYellow, 30%))

    &__blue
        background linear-gradient(top, mainBlue , darken(mainBlue, 10%))
        &:hover,
        &.active
            background linear-gradient(top, darken(mainBlue, 20%), darken(mainBlue, 30%))

    &__red
        background linear-gradient(top, mainRed , darken(mainRed, 10%))
        &:hover,
        &.active
            background linear-gradient(top, darken(mainRed, 20%), darken(mainRed, 30%))