.footer
    background darkColor
    color lightColor
    height 100px
    position absolute
    bottom 0
    left 0
    width 100%
    &_copy
        font-size unit(18/18,em)
        margin 0
        line-height @height
    &_link
        color mainRed
        text-decoration none
        &:hover
            text-decoration underline
