.connect
    line-height 3.1
    &_link
        margin 0 4px
.header
    background mainBlue

.user-info
    display none
    line-height 3.7
    font-size unit(15/18,em)
    clearfix();
    &_pic
        border-radius 50%
        width 40px
        height 40px
        overflow hidden
        float left
        margin-top 7.25px
        box-shadow 1px 1px 1px rgba(darkColor, .2)
        img
            width 100%
    &_name
        overflow ellipsis
        float left
        color lightColor
        width 100px
        margin-left 16px
    &_logout
        margin-left 16px

.logo
    font-family titleFont
    color lightColor
    margin 0
    line-height 2
    font-size unit(28/18, em)
    a
        color lightColor
        text-decoration none

.is-user
    .connect
        display none
    .user-info
        display block    
