*,
*:after,
*:before
    box-sizing border-box

html
    min-height 100%
    position relative  

body
    font-size 18px
    font-family mainFont
    color darkColor
    text-align center
    font-smoothing antialiased
    margin-bottom 132px              

.container
    margin 0 auto
    width 100%
    max-width 1280px
    padding 0 16px
    clearfix()

.row
    margin-left -16px
    margin-right -16px
    margin-bottom 20px
    clearfix()

.main-content
    margin-bottom 20px  

.section-title
    color darken(mainBlue, 40%)
    text-transform uppercase
    font-family titleFont
    font-size unit(36/18,em)
    margin-bottom 40px
    &:after
        height 6px
        content " "
        display block
        margin 0 auto
        background darken(mainBlue, 60%)
        width 120px

.unstyled-link
    color lightColor
    text-decoration none
    &:hover
        text-decoration underline
    &__highlighted
        color mainRed
        &:hover
            color darken(@color, 30%)        

[class^="icon-"], [class*=" icon-"]
    font-family 'myTodo'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-check:before
    content "\f00c"

.icon-times:before
    content "\f00d"

.icon-lock:before 
    content "\e600"

.icon-cloud:before
    content "\e601"

.icon-share:before
    content "\e602"

