mainFont = 'droid_sansregular', sans-serif
titleFont = 'source_sans_probold', sans-serif
whiteColor = #fff
lightColor = #F7FCFF
darkColor = #161616
mainBlue = #3087D9
mainYellow = #D9D630
mainRed = #D93033
secondaryBlue = #2446A3