<% include partials/head %>
<header>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign-up</a></li>
        </ul>
    </nav>
</header>

<main>
    <p>main content of the site</p>    
</main>

<footer>
    copy and etc etc.
</footer>
<% include partials/footer %>


